/* selector {
    property: value;
} */

body {
    background-color: yellow;
    text-align: center;
    border: 20px solid black;
}

h1 {
    color: black;
    text-align: center;
font-size: 100px;  
}

footer {
    background-color: white;
}

nav1 {
    font-size: 30px; 
}

section {
    font-size: 30px; 
}